<div id="page">
  <% rows = (@periodo[1]-@periodo[0]).to_i + 4 %>
  <% columns = 16 %>
  <div class="text-center" style="display: grid; grid-template: repeat(<%= rows %>, 1fr) / repeat(<%= columns %>, 1fr);">
    <div class="titulo-funcionario">
      H.EXTRA
    </div>
    <div class="horarios">
      HORARIOS
    </div>
    <div class="empregado">
      EMPREGADO
    </div>
    <div class="celula-vazia" style="grid-row: 2 / 3; grid-column: 3 / 17;">
      <!-- Mudar para objeto usuario -->
      RONALDO LIMA
    </div>
    <div class="mes-data">
      <%= @periodo[0].strftime("%b/%y") %>
    </div>
    <div class="dia-cab">
      DIA
    </div>
    <div class="data-cab">
      DATA
    </div>
    <% ((@periodo[1]-@periodo[0]).to_i + 1).times do |i| %>
      <div class="dia-da-semana" style="grid-row: <%= i + 5 %> / <%= i + 6 %>;">
        <%= (@periodo[1] - i).strftime("%a") %>
      </div>
      <div class="dia-data" style="grid-row: <%= i + 5 %> / <%= i + 6 %>;">
        <%= (@periodo[1] - i).strftime("%d/%m") %>
      </div>
      <% 4.times do |c| %>
        <div class="celula-vazia" style="grid-row: <%= i + 5 %> / <%= i + 6 %>; grid-column: <%= 2*c + 3 %> / <%= 2*c + 5 %>;" >
        </div>
      <% end %>
      <% 2.times do |x| %>
      <div class="celula-vazia" style="grid-row: <%= i + 5 %> / <%= i + 6 %>; grid-column: <%= 3*x + 11 %> / <%= 3*x + 14 %>;" >
        </div>
      <% end %>
    <% end %>
    <div class="entrada">
      ENTRADA
    </div>
    <div class="saida">
      SAIDA
    </div>
    <div class="total-he">
      TOT.HE
    </div>
    <div class="obras-rel">
      OBRAS
    </div>
    <div class="assinatura">
      ASSINATURA
    </div>
    <div class="mot-placa">
      Motorista/Placa
    </div>

  </div>
</div>
