<%= content_for :botao_voltar do %>
  <%= link_to "<", cadastros_path, class: "btn btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>ALTERAÇÃO DE CADASTRO</h1>
  <%#= render "users/user_form" %>
  <%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, label: "Login",required: false, autofocus: true %>
      <%= f.input :nome_completo, required: false, autofocus: true %>
      <%= f.input :apelido, required: false, autofocus: true %>
      <%= f.input :cargo, required: false, autofocus: true %>
      <%= f.input :salario, label: "Salário", required: false, autofocus: true %>
      <%= f.input :equipe, collection: ["Recife", "Paraíba"], required: false, autofocus: true %>
      <%= f.input :password, required: false, hint: "Deixe em branco caso não queira alterar"%>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :admin, label: "Gestor?", required: false, autofocus: true %>
    </div>

    <div class="form-actions">
      <!-- Não posso deletar uma vez que os trabalhos pertencem ao usuário -->
      <%= link_to "Deletar", user_path(@user, user: {ativo: false}), method: :put, data: { confirm: "Tem certeza que quer deletar este usuário?" }, class: "btn btn-danger btn-block" , style: "font-weight: bold"%>
      <%= f.button :submit, "Atualizar", class:"btn btn-success btn-block", style: "font-weight: bold" %>
    </div>
  <% end %>
</div>
