<%= content_for :botao_voltar do %>
  <%= link_to "<", cadastros_path, class: "btn btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>NOVO USUÁRIO</h1>
  <%#= render "users/user_form" %>
  <%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, label: "Login",required: true, autofocus: true %>
      <%= f.input :nome_completo, required: true, autofocus: true %>
      <%= f.input :apelido, required: true, autofocus: true %>
      <%= f.input :cargo, required: true, autofocus: true %>
      <%= f.input :salario, label: "Salário", required: true, autofocus: true %>
      <%= f.input :equipe, collection: ["Recife", "Paraíba"] ,required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :admin, label: "Gestor?", required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Cadastrar", class:"btn btn-success btn-block", style: "font-weight: bold" %>
    </div>
  <% end %>

</div>
