<div class="row">
  <%= form_tag reload_path, method: :get, class: "form-group", autocomplete: "off" do %>
    <input type="hidden" autocomplete="false">
    <div class="col-xs-3 text-right">
      <p><strong>Filtrar datas</strong></p>
    </div>
    <div class="col-xs-3 datas-tecon">
      <!-- <p>Início</p> -->
      <input type="text" name="inicio" placeholder="Início" class="form-control">
    </div>
    <div class="col-xs-3 datas-tecon">
      <!-- <p>Fim</p> -->
      <input type="text" name="fim" placeholder="Fim" class="form-control">
    </div>
    <% if ((cabecalho.present?) && (cabecalho != "FUNC")) %>
      <input type="hidden" name="cabecalho" value="<%= cabecalho %>" >
      <input type="hidden" name="identif" value="<%= identif %>" >
      <div class="col-xs-3">
        <%= submit_tag "Aplicar", class: 'btn btn-primary'%>
      </div>

    <%# As duas condições abaixo dão o mesmo resultado. Otimizar!  %>
    <% elsif ((cabecalho.present?) && (cabecalho == "FUNC")) %>
      <div class="col-xs-3">
        <%= submit_tag "Aplicar", class: 'btn btn-primary'%>
      </div>
    <% else %>
      <div class="col-xs-3">
        <%= submit_tag "Aplicar", class: 'btn btn-primary'%>
      </div>
    <% end %>
  <% end %>
</div>
<%#= javascript_include_tag 'datas_tecon' %>
<script>
  $(document).ready(function(){
    $('.datas-tecon input').datepicker({
      format: "dd/mm/yyyy",
      language: "pt-BR",
      autoclose: true
    });
  });
</script>

<!--   <div class="row">
    <%#= form_tag apontamento_path, method: :get, class: "form-group" do %>
      <div class="col-xs-3">
        <p>Início</p>
        <%#= date_select("inicio", "data", start_year: 2019, use_month_numbers: true,use_two_digit_numbers: true, order: [:day, :month, :year], prompt: true) %>
      </div>
      <div class="col-xs-3">
        <p>Fim</p>
        <%#= date_select("fim", "data", start_year: 2019, use_month_numbers: true,use_two_digit_numbers: true, order: [:day, :month, :year], prompt: true) %>
        <%#= hidden_field_tag 'user_id', @user.id %>
      </div>
      <div class="col-xs-3">
        <%#= submit_tag "Aplicar", class: 'btn btn-primary' %>
      </div>
    <%# end %>
  </div> -->
