<%= content_for :botao_voltar do %>
  <%= link_to "<", admin_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>GRUPOS</h1>
  <div class="row">

    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "Criar novo grupo", new_grupo_path,class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <%= render 'shared/filtro_digitacao' %>
    <% @grupos.each do |grupo| %>
      <div class="col-xs-12 itens" style="padding-bottom: 10px">
        <%= link_to grupo.nome.nil? ? "-" : grupo.nome, grupo_path(grupo),class: "btn btn-primary btn-block referencia-filt", style: "font-weight: bold" %>
      </div>
    <% end %>
    <%#= link_to "Voltar", admin_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
  </div>
</div>
