<div class="container">
  <h1>NOVO GRUPO</h1>

  <%= simple_form_for @grupo do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :nome, label: "Nome do Grupo",required: true, autofocus: true %>
      <%= f.select(:users, User.all.collect {|u| [ u.nome_completo, u.id ] },
                                           { :prompt => "Please select"},
                                           { :multiple => true, :size => 5 }) %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Cadastrar", class:"btn btn-success", style: "font-weight: bold" %>
      <%= link_to "Voltar", grupos_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
    </div>
  <% end %>

</div>
