<div class="container">
  <h1>NOVO GRUPO</h1>
  <div class="row">

    <%= simple_form_for @grupo do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :nome, label: "Nome do Grupo",required: true, autofocus: true %>
        <%= f.input :valor_he_exce, label: "Valor da Hora Extra", collection: [1.5, 1.7, 2], required: true, autofocus: true %>
        <%= f.input :inicio_exce, label: "Início",required: true, autofocus: true %>
        <%= f.input :fim_exce, label: "Fim",required: true, autofocus: true %>
        <%= f.association :users, as: :check_boxes, collection: User.where(admin: false), label: "Funcionários",label_method: :nome_completo,required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Cadastrar", class:"btn btn-success", style: "font-weight: bold" %>
        <%= link_to "Voltar", grupos_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
      </div>
    <% end %>

  </div>
</div>
