<%= content_for :botao_voltar do %>
  <%= link_to "<", veiculos_path, class: "btn btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>EDITAR VEÍCULO <%= @veiculo.nome %></h1>
  <%= simple_form_for @veiculo do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :nome, label: "Nome do Veículo",required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <!-- Não posso deletar uma vez que os trabalhos pertencem ao veículo -->
      <%= link_to "Deletar", veiculo_path(@veiculo, veiculo: {ativo: false}), method: :put, data: { confirm: "Tem certeza que quer deletar este veículo?" }, class: "btn btn-danger btn-block" , style: "font-weight: bold"%>
      <%= f.button :submit, "Cadastrar", class:"btn btn-success btn-block", style: "font-weight: bold" %>
    </div>
  <% end %>

</div>
