<%= content_for :botao_voltar do %>
  <%= link_to "<", admin_path, class: "btn btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>VEÍCULOS</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "Criar novo veiculo", new_veiculo_path,class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <%= render 'shared/filtro_digitacao' %>
    <% @veiculos.each do |veiculo| %>
      <div class="col-xs-12 itens" style="padding-bottom: 10px">
        <%= link_to veiculo.nome, edit_veiculo_path(veiculo), class: "btn btn-primary btn-block referencia-filt", style: "font-weight: bold" %>
      </div>
    <% end %>
  </div>
</div>

