<div class="container text-center">
  <h1>HOME</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "RECIFE", recife_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "PARAÍBA", paraiba_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "GRUPOS", grupos_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "OBRAS", obras_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "VEÍCULOS", veiculos_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "CADASTROS", cadastros_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
      <%= link_to "RELATÓRIOS", relatorios_path, class: "btn btn-primary btn-block", style: "font-weight: bold" %>
    </div>
    <div class="col-xs-12" style="padding-bottom: 10px">
    <%= link_to "SAIR", destroy_user_session_path, class: "btn btn-default btn-block", style: "font-weight: bold", method: :delete %>
    </div>
  </div>
</div>
