<div class="container">
  <h3>set trabalhos equipe</h3>
  <%= simple_form_for @set_trabalhos_equipe do |ste| %>
    <%= ste.input :equipe, as: :hidden, input_html: { value: "Recife" } %>
    <%= ste.button :submit, "Atualizar equipe" %>
  <% end %>
  <!-- talvez seja bom colocar each with key iterando nos funcionarios -->
  <% i=0 %>
  <% @funcionarios.each do |func| %>
    <div class="row">
      <h4>set trabalhos de <%= func.nome_completo %></h4>
      <%= simple_form_for @set_trabalhos_funcionarios[i] do |ff| %>
        <%= ff.button :submit, "Atualizar funcionario" %>
      <% end %>
      <% func.trabalhos.each do |trabalho| %>
        <div class="col-xs-12">
          <%= simple_form_for trabalho do |f| %>
            <%= f.input :status, collection: ["Enviado", "Pendente", "Validado"] %>
            <%= f.button :submit, "Atualizar trabalho" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% i += 1 %>
  <% end %>
</div>


