<%= content_for :botao_voltar do %>
  <%= link_to "<", equipes_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>RECIFE</h1>
  <%= render 'shared/datas_tecon', reload_path: recife_path, cabecalho: "" %>
  <%= simple_form_for @set_trabalhos_equipe do |ste| %>
    <%= ste.input :inicio_periodo, as: :hidden, input_html: { value: @periodo[0] } %>
    <%= ste.input :fim_periodo, as: :hidden, input_html: { value: @periodo[1] } %>
    <%= ste.input :equipe, as: :hidden, input_html: { value: "Recife" } %>
    <%= ste.button :submit, "Atualizar equipe" %>
  <% end %>
  <% @funcionarios.each_with_index do |funcionario,i| %>
    <% if verificar_pendencia(funcionario) %>
      <div class="row justify-content-center align-items-center card-funcionario trabalho-validado">
        <h4><%= funcionario.apelido %></h4>
        <%= link_to "Detalhes", trabalhos_funcionario_path(funcionario), class: "btn btn-primary" %>
        <%= simple_form_for @set_trabalhos_funcionarios[i][0] do |ff| %>
          <%= ff.input :inicio_periodo, as: :hidden, input_html: { value: @periodo[0] } %>
          <%= ff.input :fim_periodo, as: :hidden, input_html: { value: @periodo[1] } %>
          <%= ff.input :user_id, as: :hidden, input_html: { value: funcionario.id }  %>
          <%= ff.button :submit, "Atualizar funcionario" %>
        <% end %>
        <%= render 'trabalhos/formulario_validacao', funcionario: funcionario, trabalhos: @set_trabalhos_funcionarios[i][1] %>
      </div>
    <% else %>
      <div class="row justify-content-center align-items-center card-funcionario trabalho-validado">
        <h4><%= funcionario.apelido %></h4>
        <%= link_to "Detalhes", trabalhos_funcionario_path(funcionario), class: "btn btn-primary" %>
        <%= simple_form_for @set_trabalhos_funcionarios[i][0] do |ff| %>
          <%= ff.input :inicio_periodo, as: :hidden, input_html: { value: @periodo[0] } %>
          <%= ff.input :fim_periodo, as: :hidden, input_html: { value: @periodo[1] } %>
          <%= ff.input :user_id, as: :hidden, input_html: { value: funcionario.id }  %>
          <%= ff.button :submit, "Atualizar funcionario" %>
        <% end %>
        <% funcionario.trabalhos.each do |trabalho| %>
          <div class="col-xs-12">
            <%= simple_form_for trabalho, url: admin_trabalho_path(trabalho)do |f| %>
              <%= f.input :status, collection: ["Enviado", "Pendente", "Validado"] %>
              <%= f.button :submit, "Atualizar trabalho" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>





