<div class="container">
  <h1>EDITAR OBRA <%= @obra.nome %></h1>
  <div class="row">
    <%= simple_form_for @obra do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :nome, label: "Nome da Obra",required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <!-- Não posso deletar uma vez que os trabalhos pertencem à obra -->
        <%#= link_to "Deletar", obra_path(@obra), method: :delete, data: { confirm: "Tem certeza que quer deletar este obra?" }, class: "btn btn-default btn-danger" , style: "font-weight: bold"%>
        <%= f.button :submit, "Cadastrar", class:"btn btn-success", style: "font-weight: bold" %>
        <%= link_to "Voltar", obras_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
      </div>
    <% end %>

  </div>

</div>
